@font-face {
    font-family: 'gilroyextrabold';
    src: url('/fonts/gilroyextrabold-webfont.woff2') format('woff2'),
    url('/fonts/gilroyextrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gilroylight';
    src: url('gilroylight-webfont.woff2') format('woff2'),
    url('gilroylight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    background-image: url("/img/bg.png") background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: black;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}

.main-header {
    background-color: #f7e296;
    margin-top: 40px;
    min-height: 300px;
    margin-bottom: 0px;
    width: 1160px;
    margin-left: 140px;
    margin-right: auto;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 30px;
    margin: 0px;
    padding: 0px;

}

.main-header-logo {
    align-self: flex-start;
    position: relative;
    top: -17px;
    left: 60px;
}

.search-form {
    padding-left: 0px;
    width: 240px;

}

.search-form input[type="search"] {
    font: inherit;
    background-color: #f7e296;
    border: none;
}

.user-navigation {
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    list-style: none;

}

.user-navigation-container {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    outline: 1px solid black;
    margin-left: 180px;

}

.catalog-container {
    width: 1040px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
}

.user-container {
    width: 1040px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;

}

.catalog {
    padding: 0;
    font-family: 'gilroyextrabold', "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    list-style: none;
}

.footer-site-navigation,
.site-navigation {
    width: 500px;
    margin: 0px;
    padding: 0px;
    font-family: 'gilroyextrabold', "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.site-navigation li {
    display: inline;
    
}

.site-navigation li:last-child {
    padding-left: 110px;
    margin-right: 0px;
}
.site-navigation li:nth-child(2){
    padding-left:40px;
}
.main-navigation a {
    color: black;
}

.main-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.container{
    margin-top:-111px;
    
    width:1010px;
   
    
}
.slider-ul{
    margin-left: 230px;
    margin-right: 220px;
    padding: 0;
}
.slider-li {
    list-style: none;
    margin:0;
    padding:0;
}
.description-container{
    width: 1010px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid black;
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-bottom: 42px;

}
.description-container:first-child{
    margin-right: 102px;
}

.slider-li img{
    order:-1;
    margin-right:102px; 
    padding: 0;   
}
.tagline {
    font-family: 'gilroyextrabold', "Arial", sans-serif;
    font-size: 47px;
    line-height: 56px;
    text-align: left;
}

.description {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    
}

.button {
    text-align: center;
    font-family: 'gilroyextrabold', "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    background-color: #f0c52e;
    width: 160px;
    height: 8px;


}

.button:active {
    color: rgba(0, 0, 0, 0.3);

}

.button:hover,
.button:focus {
    background-color: #f0c52e;
}

.table-data {
    font-family: 'gilroylight', "Arial", sans-serif;
    font-size: 36px;
    line-height: 48px;
}

.table-header {
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    font-weight: 400;
}

.goods-catalog{
    width: 1160px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 140px;
    padding:0px;
    list-style: none;
    margin-bottom: 145px;
    
}
.goods-catalog li{
    margin:0;
    padding: 0;
}
.goods-header {
    font-family: 'gilroyextrabold', "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 160px;
}

.item-container {
    background-color: #f7e296;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.item-container:hover,
.item-container:active {
    width: 160px;
    height: 160px;
    background-color: #f0c52e;
}



.goods-catalog-item img:active {
    opacity: 0.3;


}

.features {
    background-color: #e5e5e5;
    width: 1440px;;
    margin-bottom:70px;
}
.features-list {
    position: relative;
    margin-left: 140px;
    top: -25px;
    width: 1095px;
}
.features-item {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.features-button {
    font-family: 'gilroyextrabold', "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: black;
    background-color: #f0c52e;
}

.features-button:hover {
    background-color: #f0c52e;
}

.features-button:active {
    background-color: black;
    color: #f7e184;
}

.features-header {
    font-family: 'gilroyextrabold', "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    margin: 0;
}

.features-description {
    line-height: 30px;
    text-align: left;

}
.features-text-container{
    padding: 0;
    margin: 0;}
   
    .brands{
  margin-left: 160px;
  width: 1160px; 
  margin-bottom: 92px;     
    }
.brands-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
   margin:0px;
   padding:0px;
    
}

.bottom-container{
    display: flex;
    margin-left: 140px;
    width: 1160px;
    margin-bottom: 88px;
}
.bottom-container p{
    padding:0px;
    margin: 0px;
}
.block-header {
    font-family: 'gilroyextrabold', "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    margin:0px;
    padding: 0px;
}

.delivery {
    list-style: none;
}

.delivery b {
    font-family: 'gilroyextrabold', "Arial", sans-serif;
    font-size: 16px;
    line-height: 40px;
}

.main-footer {
    background-color: #464646;
    color: white;
    margin: 0px;
    padding: 0px;
}

.main-footer a {
    color: white;
}

.footer-navigation{
    margin-left:140px;
    width:1180px;;
    display: flex;
    justify-content: space-between;
}
.catalog-header {
    font-family: 'gilroyextrabold', "Arial", sans-seirf;
    font-size: 47px;
    line-height: 48px;
}
.footer-site-navigation li{
    display: inline;
    margin:0px;
    padding:0px;
}
.footer-block1{
    width: 215px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 66px;
    
}
.footer-block2{
    order:3;
    display: flex;
    width: 337px;
    align-items: baseline;
    margin-top: 70px;
    justify-content: space-between;
    flex-direction: column;
   
}
.footer-block3{
    width: 800px;
    order:2;
    margin-top:135px;
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    
}
.footer-block2-sub{
    width: 337px;;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

.footer-call-number{
    margin-left:200px;;
}
.footer-container2{
    margin-left:160px;
    width: 1160px;;
    display: flex;
    justify-content: space-between;
}
.breadcrumbs {
    list-style: none;
    min-height: 25px;
}

.breadcrumbs a {
    color: rgba(70, 70, 70, 0.3)
}

.form-header {
    font-family: 'gilroyextrabold', "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.filters-legend {
    font-family: 'gilroyextrabold', "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.filter-option {
    list-style: none;
    font-size: 14px;
    line-height: 40px;
}

.filter {
    background-color: #efefef;
}

.catalog-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog h3 {
    font-family: 'gilroyextrabold', "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: black;
}

.catalog-item-price {
    font-family: 'gilroylight', "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
}

.back-navigation,
.pagination-list,
.forward-navigation {
    font-family: 'gilroyextrabold', "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
    color: black;
}

.navigation-link {
    color: black;
}

.page-number {
    color: rgba(0, 0, 0, 0.3)
}

.sort {
    font-family: 'gilroylight', "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.sorting-parameters {
    list-style: none;
}

.sorting-parameters a {
    color: black;
}

.sorting-button {
    font-family: 'Open Sans', "Arial", sans-serif;
    font-size: 14x;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.sorting-button-current {
    font-family: 'Open Sans', "Arial", sans-serif;
    font-size: 14x;
    line-height: 18px;
    color: black;
}
.shop{
    outline: 1px solid black;
    width: 1100px;
    margin-left:200px;
    
}
.shop-filters{
    width: 1100px;
    display: flex;
    justify-content: flex-start;
}
.filters{
    width:265px;
    padding-bottom: 530px;
    background-color:gray;}
.sort-goods{
    width:831px;
    display: flex;
    flex-direction: column;
}
.sort-container{
    display: flex;
}
.navigation-container{
    width: 760;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}